<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='students.img' alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Student ID</mat-label>
            <input matInput formControlName="StudentID" required>
            <mat-icon matSuffix>school</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="Name" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="stdForm.get('Name').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Grade</mat-label>
              <mat-select formControlName="GradeName" required>
              <mat-option *ngFor="let g of gr" [value]="g.Name">{{g.Name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="stdForm.get('GradeName').hasError('required')">Please select Grade</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="Gender" required>
              <mat-option [value]="'male'">
                Male
              </mat-option>
              <mat-option [value]="'female'">
                Female
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('Gender').hasError('required')">
              Gender is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Section</mat-label>
            <mat-select formControlName="Section" required>
              <mat-option [value]="'A'">
                A
              </mat-option>
              <mat-option [value]="'B'">
                B
              </mat-option>
              <mat-option [value]="'C'">
                C
              </mat-option>
              <mat-option [value]="'D'">
                D
              </mat-option>
              <mat-option [value]="'E'">
                E
              </mat-option>
            </mat-select>
            <mat-error *ngIf="stdForm.get('Section').hasError('required')">
              Select Grade
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gardians Mobile Number 1</mat-label>
            <input matInput formControlName="gmn1" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="stdForm.get('gmn1').hasError('required')">
              Please enter a valid Gardians Mobile Number
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gardians Mobile Number 2</mat-label>
            <input matInput formControlName="gmn2" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="stdForm.get('gmn2').hasError('required')">
              Please enter a valid Gardians Mobile Number
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!stdForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
