<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle.concat(" ").concat(subass)}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Grade</mat-label>
              <mat-select formControlName="GradeName" #Selectedgr (ngModelChange)='getselsections(Selectedgr.value)' >
              <mat-option *ngFor="let g of gr" [value]="g.Name">{{g.Name}}</mat-option>
              </mat-select>
              <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
        </div> 
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Section</mat-label>
            <mat-select formControlName="Section" #Selectedsec (ngModelChange)='getselstu(Selectedsec.value)' required>
              <mat-option *ngFor="let s of section" [value]="s.Name">{{s.Name}}</mat-option>
              </mat-select>
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Subject</mat-label>
            <mat-select formControlName="Subjects"  #Selectedsub (ngModelChange)='getselsubj(Selectedsub.value)' required>
              <mat-option *ngFor="let sub of subjects" [value]="sub.Name">{{sub.Name}}</mat-option>
              </mat-select>
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" >
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Assessmnet</mat-label>
            <mat-select formControlName="Assessments" #Selected (ngModelChange)='getselass(Selected.value)' required>
              <mat-option >Please Select an Assessment</mat-option>
              <mat-option *ngFor="let a of assessments" [value]="a.AssessmentID">{{a.Name.concat(" Out of ").concat(a.Value)}}</mat-option>
              </mat-select>
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row" [hidden]="isedit" >
        <mat-form-field  class="example-full-width mb-3" appearance="outline">
            <mat-label>Enter Result</mat-label>
            <input matInput formControlName="StudentResultEdit" [value]="this.val" type="text" required>
            <mat-icon matSuffix>book</mat-icon>
        </mat-form-field> 
      </div>
       <div class="row" [hidden]="!isedit" formArrayName="StudentResult" *ngFor="let s of student;let i=index">
        <mat-form-field  class="example-full-width mb-3" appearance="outline">
            <mat-label>{{s.Name}}</mat-label>
            <input matInput formControlName="{{i}}" type="text" required>
            <mat-icon matSuffix>book</mat-icon>
        </mat-form-field> 
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit"  
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="primary" [hidden]="!isedit" [disabled]= "!enablenav"
              (click)="loadPrev()">Back <<</button>
            <button mat-raised-button color="primary" [hidden]="!isedit" [disabled] = "!enablenav"
              (click)="loadoadNext()">Next >></button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
